@import "./champions.css";
@import "./summoner_spells.css";
@import "./perks.css";
@import "./items.css";

@config  "./tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* not default size sprite*/
/*add width and height*/
.sprite-wrapper{
    position: relative;
}
/*add scale % of ori to wrapper*/
.sprite-inner{
    transform-origin: top left;
}

.height-inherit{
    height: inherit;
}


.scale-33{
    transform: scale(33.33%);
}
.scale-66{
    transform: scale(66.66%);
}

.scale-78{
    transform: scale(78.78%);
}
.scale-57{
    transform: scale(57.14%);
}
.scale-72{
    transform: scale(72.72%);
}
.scale-136{
    transform: scale(136.36%);
}

html {
    overflow-y: scroll; /* Always show vertical scrollbar */
}

@layer components {
    .default-pagination {
        @apply flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
    }

    .selected-pagination {
        @apply flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white;
    }

    .active-tab {
        @apply text-center block border border-blue-500 rounded py-2 px-4 bg-blue-500 hover:bg-blue-700 text-gray-900;
    }
    .disabled-tab {
        @apply block py-2 px-4 text-gray-200 cursor-not-allowed bg-gray-700 rounded border border-gray-700;
    }

    .default-tab{
        @apply text-center block border bg-gray-200 border-white rounded hover:border-gray-200 text-gray-900 hover:bg-gray-300 py-2 px-4;
    }

    .my-select{
        @apply bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
    }

    .my-input{
        @apply shadow bg-gray-200 border rounded  py-2 px-3 text-gray-700 leading-tight focus:outline-none;
    }

    .my-button{
        @apply bg-blue-500 hover:bg-blue-700 text-gray-900 font-bold py-2 px-4 rounded focus:outline-none;
    }

    .my-card{
        @apply border-gray-950 bg-gray-800 rounded p-2;
    }

}