cargo-features = ["profile-rustflags"]
[workspace]
members = ["common", "asset-generation", "ruche"]
resolver = "2"


[workspace.dependencies]
bitcode="0.6"
riven = {git = "https://github.com/gqsnt/RivenBrokengg"}
serde = {version = "1", features = ["derive"]}
serde_json = "1"
tokio = { version = "1", features = ["rt-multi-thread"] }
reqwest = { version = "0.12", features = ["json", "rustls-tls"] }
thiserror = "2"
futures = "0.3.31"
clap= { version = "4", features = ["derive"] }


[profile.release]
panic = "abort"
lto = true
codegen-units = 1
rustflags=["-Ctarget-cpu=native"]


[profile.wasm-release]
inherits = "release"
opt-level = 'z'
lto = true
codegen-units = 1
panic = "abort"
rustflags=["-Zfmt-debug=none", "-Zlocation-detail=none"]