[Unit]
Description=Ruche
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/etc/ruche
ExecStart=/etc/ruche/target/release/ruche-release


[Install]
WantedBy=multi-user.target
